# created by virtualenv automatically
# Ignore PyCharm project files
.idea/

# Ignore virtual environments
.venv/

# Ignore virtualenv environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore test output and temporary files
*.log
*.tmp
*.temp
*.bak

# Ignore system-specific files
.DS_Store
Thumbs.db
desktop.ini

utilities/properties.ini
AllureReports/
Allure_Report/
bdd_behave_pom/
Lib/
Scripts/
woocommerce-sample-data/

build/
dist/
*.egg-info/
reports*/
results*/
examples/other/webdrivers/
BDDPractice/properties.ini
*old/

log*.html
output*.xml
report*.html
selenium-screenshot*.png
first_demo.robot